@import '../../app.scss';

.cursor{
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: transparent;
    position: fixed;
    z-index: 1000;

    @include mobile{
        display: none;
    }
}